h3 EL CHATEADOR XD
html

	head
		title Chat con NodeJS
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
        
		#content(style="width: 500px; height: 300px; margin: 0 0 20px 0; border: 1px solid #999; overflow-y: scroll;")
		.controls
			span #[b Nombre]
			input#name(style="width: 350px;")
			p #[b Mensaje]
			textarea#field(style="width: 400px;")
			br 
			br
			input#send(type="button", value="Enviar")